[Unit]
Description=Wyrcan
After=network-online.target
Wants=network-online.target
#OnFailure=rescue.service

[Service]
Type=oneshot
ExecStart=/bin/ln -sf /run/systemd/resolve/stub-resolv.conf /etc/resolv.conf
ExecStart=/usr/local/bin/wyrcan boot
StandardInput=tty
TTYVHangup=yes
TTYReset=yes

[Install]
WantedBy=multi-user.target
