[Unit]
Description=Wyrcan
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/wyrcan boot
StandardInput=tty
TTYVHangup=yes
TTYReset=yes

[Install]
WantedBy=multi-user.target
