[Unit]
Description=Wyrcan
After=network-online.target
Wants=network-online.target
OnSuccess=systemd-kexec.service
#OnFailure=rescue.service
FailureAction=reboot

[Service]
Type=oneshot
ExecStart=/bin/networkctl status -n0
ExecStart=/usr/local/bin/wyrcan boot
ExecStart=/bin/bash -c "/bin/networkctl down `ls /sys/class/net/`"
StandardInput=tty
TTYVHangup=yes
TTYReset=yes

[Install]
WantedBy=multi-user.target
